body {
  background-color: #413647;
  text-align: center;
  margin: 0;
  padding: 10px;
  color: #120E13;
}

#content {
  width: 50%;
  left: 25%;
  margin: auto;
}

#back {
  position: fixed;
  z-index: -1;
  width: 50%;
  height: 100%;
  left: 25%;
  top: 0;
  margin: auto;
  padding: 5px;
  background-color: #6E5969;
}

canvas {
  background-color: #E7E9E5;
}

table {
  margin: auto;
}

button {
  background: linear-gradient(#BFC3BA, #9E969C);
  border: 1px solid #464846;
  border-radius: 4px;
  text-align: center;
}

a {
  color: #9E969C;
}
