/**
* Styling for drawthestars-simple.
* Includes styling for the fixed star drawing and info box.
*/

#info-cell {
  width: 40%;
}

#info {
  height: 50%;
}

table {
  width: 80%;
}

td {
  padding: 10px;
}

.input {
  height: auto;
  width: 60%;
}
