:root {
  --textbox-background-color: white;
}

#content {
  padding-top: 80px;
}

.op-box {
  border: 1px solid black;
  border-radius: 5px;
  width: 40%;
  margin: auto;
  background-color: var(--textbox-background-color);
}

.op-box .box-name {
  font-weight: bold;
  border-bottom: 1px dotted black;
  padding: 5px;
}

.op-box .box-ops {
  display: inline-grid;
  margin: 10px 30px;
}
