:root {
  --main-text-color: black;
  --main-link-color: black;
  --main-dull-color: #40608C;
  --page-background-color: #D89598;
  --content-background-color: #A9D7F2;
  --menu-background-color: #D9B4CD;
  --header-footer-background-color: #23406D;
  --header-footer-link-color: #F4FAFF;
  --header-footer-color: #F4FAFF;
  --canvas-background-color: white;
  --textbox-background-color: white;

}

body{
  background-color: var(--page-background-color);
  margin: 0px;
  padding: 0px;
  color: var(--main-text-color);
}

header {
  position: fixed;
  width: 100%;
  height: 2em;
  background-color: var(--header-footer-background-color);
	padding: .3em 1em;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
}

header a {
  color: var(--header-footer-link-color);
  text-decoration: none;
}

#header-right {
  float: right;
  margin-right: 50px;
  margin-top: .3em;
}

#back {
  background-color: var(--content-background-color);
  position: fixed;
  width: 80%;
  left: 10%;
  z-index: -1;
  top: 0;
  height: 100%;
}

#content {
  width: 70%;
  margin: auto;
  padding: 50px 20px;
  text-align: center;
  font-size: 16px;
  font-family: Tahoma;
  overflow: scroll;
}

.input {
  background-color: var(--menu-background-color);
  margin: 10px auto;
  border-radius: 10px;
  padding: .5em 1em .5em 1em;
  white-space: nowrap;
  overflow: scroll;
  width: 30%;
}

.op {
  margin: 0px 7px;
}

#menu {
  background-color: white;
  border-radius: 5px;
}

footer {
  position: fixed;
  top: 96%;
  height: 4%;
  width: 100%;
  background-color: var(--header-footer-background-color);
  font-size: 12px;
  font-family: monospace;
  color: var(--header-footer-color);
  padding: 7px;
}

footer div {
	position: relative;
}

a {
  color: var(--main-link-color);
}

button {
  //do this
}

canvas {
  background-color: var(--canvas-background-color);
  border: 1px solid black;
}

.center {
  margin: auto;
}

.dull {
  color: var(--main-dull-color);
}

.fancy {
    font-size: 20px;
    font-family: cursive;
}

.error {
  color: red;
}

.right {
  float: right;
}

.left {
  float: left;
}
